.App {
    --header_height: 60px;
}

.hw {
    display: flex;
    flex-direction: column;
    width: 1140px;
    margin: auto;
}

.container {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

.hwTitle {
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
}