.greetingForm {

}

.inputAndButtonContainer {
    display: flex;
    gap: 12px;
    margin-bottom: 10px;
}

.error {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #CC0000;
}

.input {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    width: 372px;
    padding: 8px 12px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.input:focus {
}

.errorInput {
}

.button {
    width: 78px;
    max-height: 36px;
    padding: 8px 24px;
    border: none;
    border-radius: 3px;
    background-color: #0066CC;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    cursor: default;
    opacity: .5;
}

.text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #808080;
    margin-bottom: 9px;
}

.greeting {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #000;
}
